<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tingo Merchant.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>25</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
				<key>dateExpires</key>
				<string>26/05/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.15</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libphonenumber.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libphonenumber_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1877F0FA4B9C7A4457A1A0DABCBF44A3305205C</string>
						<key>dateExpires</key>
						<string>26/05/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>AR4B9G3YBT</string>
						<key>name</key>
						<string>Hoshistech Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>AR4B9G3YBT.com.ibloov.ibloovx</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>AR4B9G3YBT</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9d68a524-e2ba-413e-a130-daa8bb64dcc4</string>
				<key>dateExpires</key>
				<string>26/05/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ibloov.ibloovx</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>AR4B9G3YBT</string>
				<key>name</key>
				<string>Hoshistech Corp.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
